{% extends 'main.html' %} 
{% block content %}
    <div class="content-section">
        <div class="media d-flex align-items-center">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span id="follower-count">
                            <strong>Followers:</strong> {{ followers_count }}
                        </span>
                    </li>            
                    <li class="list-group-item">
                        <strong>Following:</strong> {{ followees_count }}
                    </li>                    
                </ul>
            </div>
        </div>
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>         
    </div>     
    {% if request.user != user %}
        {% if is_following %}
            <form action="{% url 'unfollow-user' user.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Unfollow</button>
            </form>
        {% else %}
            <form action="{% url 'follow-user' user.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Follow</button>
            </form>
        {% endif %}
    {% endif %}
     
{% endblock content %}
