{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"  >

    {% if title %}
      <title>Instagram - {{ title }}</title>
    {% else %}
      <title>Instagram</title>
    {% endif %}
    
    <style>
      .account-img {
        height: 125px;
        width: 125px;
        margin-right: 20px;
        margin-bottom: 16px;
      }
      .article-img {
        height: 65px;
        width: 65px;
        margin-right: 16px;
      }
      .profile_pic {
        height: 50px;
        width: 50px;
      }
      .nounderline {
        text-decoration: none !important;
        color: black;
      }
    </style>
  </head>
  <body>
    <header>
      {% include 'nav.html' %}
    </header>
    <main role="main" class="container">
      <div class="row">
          <div class="col-md-8">
  
              <!-- Flash Messages-->
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
  
              {% block content %}{% endblock content %}
          </div>
          <div class="col-md-4">
              <div class="content-section">
                  <h3>Our Sidebar</h3>
                  <p class='text-muted'>You can put any information here you'd like.
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-light">Latest Posts</li>
                      <li class="list-group-item list-group-item-light">Announcements</li>
                      <li class="list-group-item list-group-item-light">Calendars</li>
                      <li class="list-group-item list-group-item-light">etc</li>
                  </ul>
                  </p>
              </div>
          </div>
      </div>
    </main>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
